<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>타임어택 1주차</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }

        /*.select-sector{*/
        /*    visibility:hidden;*/
        /*    display: none;*/
        /*}*/
    </style>
    <script>
        $(document).ready(function () {
            $(".select-market").hide();
            $(".select-sector").hide();
            $(".select-tag").hide();
            $(".select-stock").hide();

        });
        let result = [];    //market, sector, tag
        function startclick() {
            $("#btn-post-box").hide();
            $(".select-market").show();

            $.ajax({
                type: "GET",
                url: "/start",
                data: {},
                success: function (response) { // 성공하면
                    console.log(response)
                    for (let i = 0; i < response['lists'].length; i++) {
                        let temp_html = `<input type="radio" name="market" value=${response['lists'][i]['name']}> ${response['lists'][i]['name']} <br>`
                        $(".market_input").append(temp_html)
                    }
                }
            })
        }

        //섹터보이기
        function checkmarket() {
            result[0] = $(':radio[name="market"]:checked').val();
            $(".select-market").hide();
            $(".select-sector").show();

            $.ajax({
                type: "GET",
                url: "/market",
                data: {},
                success: function (response) { // 성공하면
                    console.log(response)
                    for (let i = 0; i < response['lists'].length; i++) {
                        let temp_html = `<input type="radio" name="sector" value=${response['lists'][i]['name']}> ${response['lists'][i]['name']} <br>`
                        $(".sector_input").append(temp_html)
                    }
                }
            })
        }

        //태그 보이기
        function checkSector() {
            $(".select-sector").hide();
            $(".select-tag").show();

            result[1] = $(':radio[name="sector"]:checked').val();

            $.ajax({
                type: "GET",
                url: "/sector",
                data: {},
                success: function (response) { // 성공하면
                    for (let i = 0; i < response['lists'].length; i++) {
                        let temp_html = `<input type="radio" name="tag" value=${response['lists'][i]['name']}> ${response['lists'][i]['name']} <br>`
                        $(".tag_input").append(temp_html)
                    }
                }
            })
        }

        //선택 완료 종목 보이기
        function checktag() {
            $(".select-tag").hide();
            $(".select-stock").show();

            result[2] = $(':radio[name="tag"]:checked').val();

            $.ajax({
                type: "POST",
                url: "/tag",
                data: {
                    market: result[0],
                    sector: result[1],
                    tag: result[2],
                },
                success: function (response) { // 성공하면
                    console.log(response['result_lists'])
                    for (let i = 0; i < response['result_lists'].length; i++) {
                        // console.log(response['result_lists'][i]['code'])
                        let code = String(response['result_lists'][i]['code'])
                        console.log(typeof(code))
                        let temp_html = `
                                            <span id="${i}"> ${response['result_lists'][i]['name']}</span> <button onclick="click_stock('${code}')" type="button" class="btn btn-info">정보</button>
                                            <br>`
                        $(".stock-input").append(temp_html)
                    }

                }
            })

        }

        //주식 정보
        function click_stock(code) {
            console.log(code)

            $.ajax({
                type: "POST",
                url: '/stock',
                data: {
                    code: code
                },
                success: function (response) {

                    alert("주가 : "+response['price']+"\n"+"per : "+response['per'] +"\n" +"시가 총액 : "+response['amount'])

                }
            })
        }

        function restart() {
            result = []
            $("#btn-post-box").show();
            $(".select-market").hide();
            $(".select-sector").hide();
            $(".select-tag").hide();
            $(".select-stock").hide();

            //기존 내용 삭제
            $('.market_input').empty()
            $('.sector_input').empty()
            $('.tag_input').empty()
            $('.stock-input').empty()
        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">주식 종목 추천!!</h1>
        <p class="lead">원하시는 종목을 추천합니다.</p>
        <hr class="my-4">
        <p class="lead">
            <button onclick="startclick()" id="btn-post-box" type="button" class="btn btn-primary">추천시작
            </button>
        </p>

        <div class="select-market">
            <div class="market_input">
            </div>
            <button onclick="checkmarket()" type="button" class="btn btn-success">다음</button>
        </div>

        <div class="select-sector">
            <div class="sector_input">
            </div>
            <button onclick="checkSector()" type="button" class="btn btn-success">다음</button>
        </div>

        <div class="select-tag">
            <div class="tag_input">
            </div>
            <button onclick="checktag()" type="button" class="btn btn-success">다음</button>
        </div>

        <div class="select-stock">
            <div class="stock-input">
            </div>
            <button onclick="restart()" type="button" class="btn btn-secondary">다시 선택</button>
        </div>
    </div>


</div>
</div>
</body>

</html>